body {
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Comfortaa',arial;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

.wrapper {
	max-height: 100%;
}

.hero {
	height: 100vh;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.content__text {
	color: black;
	margin: 0 0 40px 0;
	font-size: 25px;
	font-weight: 400;
}

.content__btn {
	height: 102px;
	width: 100px;
	background: #101010;
	outline: none;
	border: 14px solid #7f7f7f;
	border-bottom: 24px solid #606060;
	border-top: none;
	border-radius: 20px 20px 8px 8px;
	cursor: pointer;
	color: white;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 500;
	padding: 0 0 20px 0;
	transition: .1s;
}

.content__btn:active {
	transform: translate(0px,4px);
}

.content__btn-2 {
	height: 82px;
	width: 80px;
	font-size: 18px;
	outline: none;
	border: none;
	font-weight: 500;
	margin: 40px 0 0 0;
	padding: 0 0 20px 0;
	color: white;
	text-transform: capitalize;
	background: #101010;
	box-shadow: 0px 8px 0px 10px #808080;
	border-radius: 15px 15px 6px 6px;
	cursor: pointer;
	transition: .1s;
}

.content__btn-2:active {
	transform: translate(0px,4px);
}

.hero__container {
	height: 100%;
}

.btn__right {
	height: 100vh;
}

.btn__right-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn__right-content-block {
}

.btn__right-content-text {
	font-weight: 600;
	font-size: 22px;
}

.btn__right-content-text:nth-child(1) {
}

.btn__num {
	height: 100vh;
}

.btn__num-conternt {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn__num-conternt-block {
}

.btn__num-conternt-block-num {
	font-weight: 600;
	font-size: 22px;
}